node-red/flows (4).json
[
    {
        "id": "8df4d49c1afe4e54",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "93155f7e4016ec4c",
        "type": "mqtt in",
        "z": "8df4d49c1afe4e54",
        "name": "",
        "topic": "CSE-ADMIN-TEMP",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7085fc11eb6c5550",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 420,
        "wires": [
            [
                "3bbe3005d007043e",
                "4ddd35fbba39ac74"
            ]
        ]
    },
    {
        "id": "3bbe3005d007043e",
        "type": "ui_gauge",
        "z": "8df4d49c1afe4e54",
        "name": "",
        "group": "e848a68af1ac9ac2",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 360,
        "wires": []
    },
    {
        "id": "4ddd35fbba39ac74",
        "type": "ui_chart",
        "z": "8df4d49c1afe4e54",
        "name": "",
        "group": "e848a68af1ac9ac2",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "8ac57522903e9098",
        "type": "ui_switch",
        "z": "8df4d49c1afe4e54",
        "name": "Main Switch",
        "label": "switch",
        "tooltip": "",
        "group": "6f6e7bf5f31ee72d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 40,
        "wires": [
            [
                "8fdecc1e0f08abb1"
            ]
        ]
    },
    {
        "id": "8fdecc1e0f08abb1",
        "type": "mqtt out",
        "z": "8df4d49c1afe4e54",
        "name": "",
        "topic": "CSE-ADMIN-MAIN-ON-OFF",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7085fc11eb6c5550",
        "x": 680,
        "y": 40,
        "wires": []
    },
    {
        "id": "875ef5bb0e6531c8",
        "type": "ui_switch",
        "z": "8df4d49c1afe4e54",
        "name": "Schedule Switch",
        "label": "switch",
        "tooltip": "",
        "group": "fbf66af771d04b45",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "28f3022aac5597b4"
            ]
        ]
    },
    {
        "id": "28f3022aac5597b4",
        "type": "change",
        "z": "8df4d49c1afe4e54",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "isScheduled",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 180,
        "wires": [
            [
                "49581059f74275bc"
            ]
        ]
    },
    {
        "id": "955cef8833dcc236",
        "type": "ui_date_picker",
        "z": "8df4d49c1afe4e54",
        "name": "",
        "label": "ON",
        "group": "fbf66af771d04b45",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 250,
        "y": 220,
        "wires": [
            [
                "f6120e223a9cd341"
            ]
        ]
    },
    {
        "id": "6789813884f3e2f3",
        "type": "ui_text_input",
        "z": "8df4d49c1afe4e54",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "fbf66af771d04b45",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 260,
        "y": 260,
        "wires": [
            [
                "21fabdf6f9869874"
            ]
        ]
    },
    {
        "id": "f6120e223a9cd341",
        "type": "change",
        "z": "8df4d49c1afe4e54",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scheduleDate",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 220,
        "wires": [
            [
                "49581059f74275bc"
            ]
        ]
    },
    {
        "id": "21fabdf6f9869874",
        "type": "change",
        "z": "8df4d49c1afe4e54",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scheduleTime",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 260,
        "wires": [
            [
                "49581059f74275bc"
            ]
        ]
    },
    {
        "id": "49581059f74275bc",
        "type": "function",
        "z": "8df4d49c1afe4e54",
        "name": "function 1",
        "func": "let isScheduled = global.get(\"isScheduled\");\nlet scheduleDate = global.get(\"scheduleDate\");\nlet scheduleTime = global.get(\"scheduleTime\");\n\nif (isScheduled && scheduleDate && scheduleTime) {\n    let schedule = scheduleDate + scheduleTime;\n\n    if (Date.now > schedule){\n        return{\n            payload:\"OLDER\"\n        }\n    }else{\n        return{\n            payload: schedule\n        }\n    }\n}else if (isScheduled===false){\n    return{\n        payload:\"NOT-SCHEDULED-ON\"\n    }\n}else{\n    return{\n        payload:null\n    }\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 220,
        "wires": [
            [
                "d83b519b42527250"
            ]
        ]
    },
    {
        "id": "d83b519b42527250",
        "type": "switch",
        "z": "8df4d49c1afe4e54",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "NOT-SCHEDULED-ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OLDER",
                "vt": "str"
            },
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 1010,
        "y": 220,
        "wires": [
            [
                "952a051bb9246532"
            ],
            [
                "9184de0151f173a1"
            ],
            [
                "c51fb8dbaef43e42"
            ],
            [
                "466aeeba3972c92b"
            ]
        ]
    },
    {
        "id": "952a051bb9246532",
        "type": "function",
        "z": "8df4d49c1afe4e54",
        "name": "function 2",
        "func": "\nreturn {\n    payload: \"NOT\",\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 180,
        "wires": [
            [
                "d1ba6715433e2122"
            ]
        ]
    },
    {
        "id": "c51fb8dbaef43e42",
        "type": "function",
        "z": "8df4d49c1afe4e54",
        "name": "function 3",
        "func": "\nreturn {\n    payload:Math.round(msg.payload/1000),\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 220,
        "wires": [
            [
                "d1ba6715433e2122"
            ]
        ]
    },
    {
        "id": "9184de0151f173a1",
        "type": "function",
        "z": "8df4d49c1afe4e54",
        "name": "function 4",
        "func": "\nreturn {\n    payload: \"Please enter the future time\",\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 280,
        "wires": [
            [
                "a4a016b8b5df2e06"
            ]
        ]
    },
    {
        "id": "a4a016b8b5df2e06",
        "type": "ui_toast",
        "z": "8df4d49c1afe4e54",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1390,
        "y": 280,
        "wires": []
    },
    {
        "id": "466aeeba3972c92b",
        "type": "function",
        "z": "8df4d49c1afe4e54",
        "name": "function 5",
        "func": "\nreturn {\n    payload: \"Please enter a valid date and time\",\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 320,
        "wires": [
            [
                "a4a016b8b5df2e06"
            ]
        ]
    },
    {
        "id": "d1ba6715433e2122",
        "type": "mqtt out",
        "z": "8df4d49c1afe4e54",
        "name": "",
        "topic": "CSE-ADMIN-SCH-ON",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7085fc11eb6c5550",
        "x": 1440,
        "y": 200,
        "wires": []
    },
    {
        "id": "3d1442851ae2680f",
        "type": "mqtt in",
        "z": "8df4d49c1afe4e54",
        "name": "ESP-ON-OFF",
        "topic": "CSE-ADMIN-MAIN-ON-OFF-ESP",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7085fc11eb6c5550",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 40,
        "wires": [
            [
                "8ac57522903e9098"
            ]
        ]
    },
    {
        "id": "f34946aed01dfe6e",
        "type": "mqtt in",
        "z": "8df4d49c1afe4e54",
        "name": "SCH-ESP-ON",
        "topic": "CSE-ADMIN-SCH-ESP-ON",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7085fc11eb6c5550",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 140,
        "wires": [
            [
                "c32a5d7b0835828f"
            ]
        ]
    },
    {
        "id": "c32a5d7b0835828f",
        "type": "function",
        "z": "8df4d49c1afe4e54",
        "name": "function 6",
        "func": "\nreturn {\n    payload : msg.payload===1\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 140,
        "wires": [
            [
                "875ef5bb0e6531c8"
            ]
        ]
    },
    {
        "id": "7bbbdeeccf0a9926",
        "type": "mqtt in",
        "z": "8df4d49c1afe4e54",
        "name": "",
        "topic": "CSE-ADMIN-LIGHT-INTENSITY",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7085fc11eb6c5550",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 580,
        "wires": [
            [
                "10312fca05fbbc0f",
                "c3c6d6b48d3e5702"
            ]
        ]
    },
    {
        "id": "10312fca05fbbc0f",
        "type": "ui_gauge",
        "z": "8df4d49c1afe4e54",
        "name": "",
        "group": "27108942b6f787c7",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 520,
        "wires": []
    },
    {
        "id": "c3c6d6b48d3e5702",
        "type": "ui_chart",
        "z": "8df4d49c1afe4e54",
        "name": "",
        "group": "27108942b6f787c7",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "dc4465a3c260a57c",
        "type": "mqtt out",
        "z": "8df4d49c1afe4e54",
        "name": "",
        "topic": "CSE-ADMIN-ANGLE-OFFSET",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7085fc11eb6c5550",
        "x": 670,
        "y": 780,
        "wires": []
    },
    {
        "id": "a5c1889ddb9761d0",
        "type": "ui_slider",
        "z": "8df4d49c1afe4e54",
        "name": "Minimum angle",
        "label": "Minimum angle",
        "tooltip": "",
        "group": "817d5f261a82115a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": 1,
        "className": "",
        "x": 160,
        "y": 780,
        "wires": [
            [
                "dc4465a3c260a57c"
            ]
        ]
    },
    {
        "id": "350f5695306e5852",
        "type": "ui_slider",
        "z": "8df4d49c1afe4e54",
        "name": "Controlling Factor",
        "label": "Controlling Factor",
        "tooltip": "",
        "group": "817d5f261a82115a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 170,
        "y": 720,
        "wires": [
            [
                "16cdcfe0bf26c456"
            ]
        ]
    },
    {
        "id": "16cdcfe0bf26c456",
        "type": "mqtt out",
        "z": "8df4d49c1afe4e54",
        "name": "",
        "topic": "CSE-ADMIN-CONTROLLING_FACTOR",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7085fc11eb6c5550",
        "x": 700,
        "y": 720,
        "wires": []
    },
    {
        "id": "498c709c49542498",
        "type": "ui_dropdown",
        "z": "8df4d49c1afe4e54",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "510bba22644a8060",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Tablet A",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Tablet B",
                "value": 2,
                "type": "num"
            },
            {
                "label": "Tablet C",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": ".topic",
        "topicType": "str",
        "className": "",
        "x": 140,
        "y": 840,
        "wires": [
            [
                "c068d8c9556b042c",
                "22bd87897e152ff5"
            ]
        ]
    },
    {
        "id": "c068d8c9556b042c",
        "type": "function",
        "z": "8df4d49c1afe4e54",
        "name": "function 8",
        "func": "// Assuming msg.payload contains the medicine type (1, 2, or other)\nlet minAngle;\n\nif (parseInt(msg.payload) === 1) {\n    minAngle = 20;\n} else if (parseInt(msg.payload) === 2) {\n    minAngle = 50;\n} else {\n    minAngle = 70;\n}\n\n// Set the output properties for minAngle\nmsg.payload = minAngle;\n\n// Send the modified msg to the MQTT node for minAngl// Set the desired topic for mnAngle\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 880,
        "wires": [
            [
                "dc4465a3c260a57c"
            ]
        ]
    },
    {
        "id": "22bd87897e152ff5",
        "type": "function",
        "z": "8df4d49c1afe4e54",
        "name": "function 9",
        "func": "// Assuming msg.payload contains the medicine type (1, 2, or other)\nlet controlFactor;\n\nif (parseInt(msg.payload) === 1) {\n    controlFactor = 0.25;\n} else if (parseInt(msg.payload) === 2) {\n    controlFactor = 0.5;\n} else {\n    controlFactor = 0.75;\n}\n\n// Set the output properties for controlFactor\nmsg.payload = controlFactor;\n\n// Send the modified msg to the MQTT node for controlFactor\n// Set the desired topic for controlFactor\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 820,
        "wires": [
            [
                "16cdcfe0bf26c456"
            ]
        ]
    },
    {
        "id": "7085fc11eb6c5550",
        "type": "mqtt-broker",
        "name": "",
        "broker": "https://test.mosquitto.org/",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e848a68af1ac9ac2",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "62764d6e4a20e472",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6f6e7bf5f31ee72d",
        "type": "ui_group",
        "name": "Main Switch",
        "tab": "62764d6e4a20e472",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fbf66af771d04b45",
        "type": "ui_group",
        "name": "Schedule",
        "tab": "62764d6e4a20e472",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "27108942b6f787c7",
        "type": "ui_group",
        "name": "LightIntensity",
        "tab": "62764d6e4a20e472",
        "order": 7,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "817d5f261a82115a",
        "type": "ui_group",
        "name": "Custom Shade Setting",
        "tab": "62764d6e4a20e472",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "510bba22644a8060",
        "type": "ui_group",
        "name": "Tablet Section",
        "tab": "62764d6e4a20e472",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "62764d6e4a20e472",
        "type": "ui_tab",
        "name": "Medibox",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]